
  <h1 id="intro1">Welcome to twitter!</h1>


<h3 id="intro2">Dame el twitter a buscar: </h3>

<div id="spinner" class="spinner" >
    <img id="img-spinner" src="spinner.gif" alt="Loading"/>
</div>

<form id="form"method="post" action="/fetch"> 
  <center><input id="handle_text" name="handle" type="text" placeholder="Twitter"><br>
    <br>
  <input id="submit_button" type="submit" value="Handler!"></center>
</form>

<form id="form_exit" method="get" action="/"> 
  <center><input id="submit_button_exit" type="submit" value="Salir!"></center>
</form>

