
  <h1>Welcome to twitter!</h1>


<h3>Dame el twitter a buscar: </h3>

<form method="post" action="/fetch"> 
  <center><input id="handle_text" name="handle" type="text" placeholder="Twitter"><br>
    <br>
  <input id="submit_button" type="submit" value="Handler!">
  </center>
</form>



